* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
}

// Utilites

$website-width: 1280px;
$main-color: #bfebee;
$dark-color: #3b4350;
$medium-color: #6c7787;
$light-color: #e6eaf0;
$bg-image: url('../img/light gray double.jpg');
$main-shadow: $main-color 0.1rem 0.1rem 0.8rem,
	$main-color -0.1rem -0.1rem 0.8rem;
$dark-shadow: $dark-color 0.1rem 0.1rem 0.8rem,
	$dark-color -0.1rem -0.1rem 0.8rem, $main-color 0.1rem 0.1rem 0.2rem,
	$main-color -0.1rem -0.1rem 0.5rem;
$medium-shadow: $medium-color 0.1rem 0.1rem 0.2rem,
	$medium-color -0.1rem -0.1rem 0.5rem;
$light-shadow: $light-color 0.1rem 0.1rem 0.8rem,
	$light-color -0.1rem -0.1rem 0.8rem;

::-webkit-scrollbar {
	background-color: $dark-color;
	width: 1rem;
}
::-webkit-scrollbar-thumb {
	background-color: $light-color;

	border-radius: 3rem;
}

.container {
	max-width: 66vw;
	margin: auto;
	overflow: auto;
	border-radius: 0.5rem;
	background-color: #f4f4f4;
	margin-bottom: 1rem;
	h2 {
		padding: 1rem 1rem;
	}
	h3 {
		padding: 0.5rem 1rem;
	}
}

.fas,
.far {
	margin: 1rem;
	color: $light-color;
}

.horizontal {
	width: 66%;
	height: 1rem;
	background: $medium-color;
	display: block;
	margin: 1rem 1rem;
	border-radius: 3rem;
	&.small {
		height: 0.2rem;
		width: 3rem;
	}
}

.vertical {
	width: 1rem;
	height: 8rem;
	background: $medium-color;
	display: block;
	margin: 1rem 1rem;
	border-radius: 3rem;
	&.small {
		width: 0.2rem;
	}
}

a:link {
	color: $medium-color;
	background-color: transparent;
}
a:visited {
	color: $medium-color;
	background-color: transparent;
}

// Main Styles

body {
	position: relative;
	background-image: $bg-image;
	background-position: top;
	background-size: 100%;
	align-content: space-between;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow-x: hidden;
}

#header {
	text-align: center;
	padding: 2rem 0 2rem 0;
	.name {
		color: $light-color;

		font-weight: 1000;
		font-family: 'Orbitron', sans-serif;
		font-size: 4rem;
		text-shadow: $dark-shadow;
		margin-bottom: 1rem;
	}
}

#title {
	color: $light-color;
	text-shadow: $dark-shadow;
}

#about-me {
	border: 0.1rem solid black;
	box-shadow: $dark-shadow;

	#history {
		background-color: $dark-color;
		color: $light-color;
		display: flex;
		align-items: center;

		p {
			text-align: left;
			padding: 0.5rem 0.5rem;
		}
		#text-link {
			color: $light-color;
			&:hover {
				color: $main-color;
			}
		}
	}
}

#clickables {
	.active-container {
		box-shadow: $dark-shadow;
		min-width: 70vw;
		transition: all 0.4s;
		margin-top: 1rem;
	}

	.container {
		max-width: 60vw;
		overflow: hidden;
		display: flex;
		flex-direction: column-reverse;
		color: $dark-color;
		align-items: center;

		.drop-down {
			display: none;
			padding: 0.5rem 1rem 1rem;
		}
		.active-list {
			display: flex;
			color: $dark-color;
			justify-content: center;
		}

		i {
			margin-top: 0;
			color: black;
			width: 1.5rem;
			padding: 0.2rem 0.5rem;
			border-radius: 0.5rem;
			&:hover {
				color: $main-color;
				background: $dark-color;
				box-shadow: $main-shadow;
				transition: all 0.3s;
				cursor: pointer;
				transform: scale(1.5);
				transition: all 0.3s;
			}
		}
		.active-button {
			transform: rotate(180deg);
			transition: all 0.3s;

			&:hover {
				transform: rotate(180deg) scale(1.5);
				transition: all 0.3s;
			}
		}
	}

	#abilities-drop-down {
		min-width: 75%;
		justify-content: space-between;
		div {
			width: 30%;
		}
		div.vertical {
			width: 0.2rem;
		}
	}

	#projects-drop-down {
		flex-direction: column;
		min-width: 75%;
		align-items: center;
		.project {
			margin: 2rem 0;
			position: relative;
			min-width: 100%;
			p {
				font-size: 1.2rem;
			}
			img {
				min-width: 100%;
				margin: 1rem;
			}

			i {
				margin-top: 0.4rem;
				width: 1.5rem;
				padding: 0 0.5rem 0.1rem 0.1rem;
				border-radius: 0;
				color: $medium-color;
				&:hover {
					color: $main-color;
					background: $dark-color;
					border: solid $dark-color;
					border-radius: 100%;
					box-shadow: $main-shadow;
					box-shadow: inset $dark-shadow;
					margin-top: 1rem;
				}
			}
		}
	}
	#reach-me-drop-down {
		flex-direction: column;
		overflow-x: auto;
		// align-items: center;
		.text-input {
			line-height: 2.5rem;
			border: 0.1rem solid $light-color;
			border-radius: 0.5rem;
			margin: 0.5rem;

			&:focus {
				border: 0.1rem solid black;
				box-shadow: $main-shadow;
			}
		}
		.message-input {
			width: 45vw;
			max-width: 45vw;
			min-height: 2.5rem;
			min-width: 45vw;
		}
		div {
			margin: 0.5rem;
			justify-content: center;
			align-content: center;
			#myfile #recap {
				min-height: 2.5rem;
				max-width: 170px;
				justify-content: center;
				align-content: center;
			}
		}

		#submit-button {
			line-height: 1.5rem;
			border: 0.1rem solid $light-color;
			border-radius: 0.5rem;
			background-color: white;
			padding: 0.2rem 0.7rem;
			&:hover {
				color: $main-color;
				background: $main-color;
				color: $dark-color;
				cursor: pointer;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	color: $medium-color;
	height: 1rem;
	width: 100vw;
	// padding: 0 0 10rem 0;

	div {
		margin: 0.5rem 0.5rem;
		padding: 0.5rem 0 0rem 0;
		p {
			text-shadow: $light-shadow;
		}
		.icons {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: row;
		}
		i {
			&:hover {
				color: $main-color;
				background: $dark-color;
				border: solid $dark-color;
				border-radius: 100%;
				box-shadow: $main-shadow;
				// box-shadow: inset $dark-shadow;
				transform: scale(1.5);
				transition: all 0.3s;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 800px) {
	.container {
		max-width: 95vw;
	}
	#clickables {
		.active-container {
			min-width: 95vw;
			transition: all 0.4s;
			margin-top: 1rem;
		}
		i {
			&:hover {
				margin-top: 0;
				color: black;
				width: 1.5rem;
				padding: 0.2rem 0.5rem;
				border-radius: 0.5rem;
			}
		}
	}
	.horizontal {
		height: 0.5rem;
	}
	#projects-drop-down {
		.project {
			img {
				max-width: 100%;
			}
		}
	}
	#reach-me-drop-down {
		align-items: center;
		.text-input {
			min-width: 80vw;
		}
	}
}

@media (max-width: 620px) {
	#about-me {
		#history {
			flex-direction: column;
			padding: 1rem;
			.vertical {
				width: 8rem;
				height: 0.5rem;
			}
		}
	}
}

@media (max-width: 440px) {
	#abilities-drop-down {
		flex-direction: column;
		.vertical {
			width: 10rem;
			height: 0.2rem;
			align-self: center;
		}
	}
}
